#page404 {
  background: url('~@/assets/images/404.jpg') no-repeat fixed center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
