#home {
  background: url('~@/assets/images/home1.jpg') no-repeat fixed center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--alt-bg-color);
  background-color: var(--alt-bg-color-70);
  padding: 3% 0;
  width: 60%;
  margin: 12.5% auto;
}

#jumbotron h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 5em;
  line-height: 1.2em;
}

#jumbotron h2 {
  font-size: 2.3em;
  line-height: 1.7em;
}

#jumbotron a {
  outline: none;
  text-decoration: underline;
  color: var(--main-text-color);
  font-size: 1.5em;
  line-height: 1.7em;
}

#jumbotron a:hover {
  color: var(--active-text-color);
}

#jumbotron a:visited {
  color: none;
}

#jumbotron .btn-primary {
  width: 40%;
  margin: 1.5% auto;
  color: var(--alt-bg-color);
  border: none;
  border-radius: 10px;
  padding: 0.75%;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1.4em;
}
