#location {
  background: var(--alt-bg-color);
  min-height: 1000px;
}

#location-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5%;
}

#location-info h1,
#reviews-list h4 {
  font-family: 'Gochi Hand', cursive;
  font-size: 4em;
  line-height: 2.2em;
}

#location-info img {
  max-height: 400px;
}

#location-info .weather-info {
  margin: 0.5% auto;
  font-size: 1.2em;
}

.weather-info {
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.weather-info p {
  font-size: 1.4em;
  line-height: 2em;
}
.weather-info h3 {
  font-size: 1.6em;
  line-height: 2em;
}

.weather-info img {
  margin: 0 auto;
}

.review-card {
  display: flex;
  flex-direction: row;
  background-color: var(--card-bg-color);
  color: var(--main-text-color);
  margin: 1.5% auto;
  -webkit-box-shadow: 3px 15px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 15px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 15px 30px -10px rgba(0, 0, 0, 0.75);
}

.review-card h5 {
  font-size: 1.6em;
  line-height: 1.4em;
}

.review-card img {
  margin: 1% 5%;
  height: 300px;
}

.review-card div {
  width: 100%;
  margin: 1% 2%;
}

.review-card div p {
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 1% 0;
}

.review-card .btn-danger,
.review-card .btn-info {
  box-sizing: border-box;
  width: 40%;
  height: 50px;
  margin: 2% 2%;
  border-radius: 10px;
}

#reviews-list {
  width: 55%;
  margin: 2.5% auto 0 auto;
  padding-bottom: 2.5%;
}
