/* #FFF3D9 - Off white (255,243,217) 
#FFE6B3 - beige (255, 230, 179);
#47AAD9 - mid blue (71, 170, 217);
#2E6E8D - darker blue (46,110,141) 
#153240 - midnight  (21,50,64) */

@import url('https://fonts.googleapis.com/css?family=Cabin|Gochi+Hand&display=swap');

:root {
  --main-bg-color: rgb(71, 170, 217);
  --main-bg-color-60: rgba(71, 170, 217, 0.6);
  --alt-bg-color: rgb(255, 243, 217);
  --alt-bg-color-70: rgba(255, 243, 217, 0.7);
  --card-bg-color: rgb(255, 230, 179);
  --main-text-color: rgb(21, 50, 64);
  --alt-text-color: rgb(255, 243, 217);
  --active-text-color: rgb(46, 110, 141);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

nav {
  background: var(--main-bg-color);
  position: fixed;
  width: 100%;
  z-index: 1 !important;
}

nav button {
  font-family: 'Gochi Hand', cursive;
  box-sizing: border-box;
  background-color: transparent;
  border: transparent;
  float: right;
  padding: 0 2.5%;
  line-height: 1.2em;
  font-size: 3em;
}
nav button:hover {
  color: var(--alt-text-color);
}

nav a {
  font-family: 'Gochi Hand', cursive;
  color: var(--main-text-color);
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: var(--main-text-color);
}

nav a:hover {
  color: var(--alt-text-color);
}

nav .logo {
  font-family: 'Gochi Hand', cursive;
  color: var(--main-text-color);
  font-size: 3em;
  line-height: 1.2em;
  padding: 0 2.5%;
  float: left;
}

nav .menu-item {
  padding: 0 2.5%;
  line-height: 1.2em;
  font-size: 3em;
  float: right;
}

#loading {
  z-index: 2 !important;
  background-color: var(--alt-bg-color);
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#loading-img {
  margin: 15% 0;
}

#loading h1 {
  font-family: 'Gochi Hand', cursive;
}
